.main-section {
    background-color: white;
    min-height: 600px;
}

.wait-spinner {
    margin:5px;
}

.success-section {
    margin-left:25px;

    .success-header {
        padding:10px;
    }
}
