<p><%- _("Enter your Splunk.com username and password to download the app.").t() %></p>
<div class="username-placeholder"></div>
<div class="password-placeholder"></div>
<a class="forgot-password" target="_blank" id="forgot-password"><%- _("Forgot your password?").t() %></a>
<p class="rights"><%- _("The app, and any related dependency that will be installed, may be provided by Splunk and/or a third party and your right to use these app(s) is in accordance with the applicable license(s) provided by Splunk and/or the third-party licensor. Splunk is not responsible for any third-party app and does not provide any warranty or support. If you have any questions, complaints or claims with respect to an app, please contact the applicable licensor directly whose contact information can be found on the Splunkbase download page.").t() %></p>
<p class="rights">
    <a class="license-agreement" target="_blank" id="splunk-base-link"></a>
    <%- _(" is governed by the following license: ").t() %>
    <a class="license-agreement" target="_blank" id="app-license"></a>
</p>
<div class="consent-placeholder"></div>
