.rollup-add-summary {
    max-height: 194px; /* shows up to 3 rollup summaries + add summary link */
    overflow-y: scroll;
    vertical-align: bottom;
}

.summaries {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-summary-link {
    margin-bottom: 12px;
}
