.rollup-delete-exception-button {
    display: inline-block;
    margin-left: -4px;
}

.inner-rollup-delete-exception-button {
    float: right;
    width: $inputHeight;
    height: $inputHeight;
    text-align: center;
}
