.delete-token-placeholder {
    margin-top: 5px;
}

.clustered-warning-placeholder {
    margin-top: 8px;
}

.rollup-help-text {
    color: #6b7785;
    font-size: 12px;
}

.rollup-learn-more {
    font-size: 12px;
}

.rollup-flash-messages-view-placeholder .alert {
    margin-bottom: 0;
}
