<%!
from splunk.appserver.mrsparkle.lib import util
isLite = util.isLite()

if isLite:
    theme = 'lite'
else:
    theme = 'enterprise'

%>\


<!doctype html>
<html class="no-js" lang="${i18n.current_lang()[0]|h}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>${_('Loading...')}</title>
    <link rel="shortcut icon" href="${util.getFaviconURL()}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%
    css_less_qs = {}
    if hasattr(cherrypy.request, 'embed') and cherrypy.request.embed:
        css_less_qs['embed'] = 1
    %>
    % if isLite:
    <link rel="stylesheet" type="text/css" href="${make_url('/static/build/css/bootstrap-lite.css', _qs=css_less_qs)}" />
    % else:
    <link rel="stylesheet" type="text/css" href="${make_url('/static/build/css/bootstrap-enterprise.css', _qs=css_less_qs)}" />
    % endif
</head>

% if isLite:
<body class="locale-${i18n.current_lang()[0]|h} lite">
% else:
<body class="locale-${i18n.current_lang()[0]|h}">
% endif
    <script src="${make_url('/config?autoload=1')}" crossorigin="use-credentials"></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <script>
        __splunkd_partials__ = ${json_decode(splunkd)};
    </script>

    <%
    page_path = "/static/app/splunk_gdi/build/home." + theme + ".jsx.js"
    %>

    <script src="${make_url(page_path)}"></script>

</body>
