.dataset-explore-menu {
    display: inline-block;

    div {
        display: inline-block;
    }
}

.explore-menu-poptart {
    width: 15em;
    
    .explore_actions {
        .mlselector > .icon-triangle-right-small {
            margin-left: 9px;
        }
    }
}
