.clustering-master-statussummary {
    .searchable-summary {
        margin-top: $spacingQuarter;
    }
}
.restart-progress {
    padding: 0 25px;

    p.progress-bar-label {
        font-size: large;
    }
}
