#   Version 8.0.4
#
# The following are example fshpasswords.conf configurations. Configure properties for
# your federated provider.
#
# There is NO DEFAULT fshpasswords.conf. The file only gets created once you add/edit
# a credential information via the fsh storage endpoint as follows.
#
# The POST request to add user1 credentials to the storage/fshpasswords endpoint 
# curl -k -u admin:changeme https://localhost:8089/servicesNS/nobody/search/storage/fshpasswords -d name=user1 -provider=federated-provider -d password=changeme2
#
# To learn more about configuration files (including precedence) please see the
# documentation located at
# http://docs.splunk.com/Documentation/Splunk/latest/Admin/Aboutconfigurationfiles
#

[credential:federated-provider-stanza:testuser:]
password = changeme
