
<div class="section-header section-padded">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="<%=docLink%>" class="btn" target="_blank"><%= _('Documentation').t() %> <i class="icon-external"></i></a>
        </div>
    </div>
    <h1 class="section-title"><%= _('Configuration Bundle Actions').t() %></h1>
    <p class="section-description"><%= _('Click Push to distribute the configuration bundle to the set of peers. Optionally, validate the bundle and check if peer restart is required without distributing the bundle, or rollback to the previous bundle.').t() %>
        <a href='<%=learnMoreLink%>' class='external' target='_blank'><%= _('Learn More').t() %></a>
    </p>
    <a href="clustering">
        <i class="icon-chevron-left icon-no-underline"></i><span><%- _("Back to Master Node").t() %></span>
    </a>
</div>

<div class="divider"></div>
<div class="section-bg"></div>
