.icon-alert {
	color: $warningColor;
	font-size: 22px;
    padding-right: 10px;
}

.icon-error {
	color: $errorColor;
	font-size: 22px;
    padding-right: 10px;
}

.icon-check-circle {
	color: $successColor;
	font-size: 22px;
    padding-right: 10px;
}

.alerts.shared-flashmessages {
	padding-left: 0;
}

.btn-primary {
	margin-left: 5px;
}

.captain-warning-container {
    .learn-more-link {
        white-space: nowrap;
    }
}
