/**
* $author jsolis
* $date 7/12/2017
* less file for views/indexes/cloud/SelfStorageInput.es
* Currently used by AddData and Enterprise Index Management
*/
.indexes-modal {
  .data-will-be-deleted-msg-placeholder .alerts {
    padding-left: 0;
  }
  .no-self-storage-msg-placeholder {
    margin-bottom: 0;
  }
  .no-self-storage-msg-placeholder .strong {
    font-weight: bold;
    display: block;
  }
}
