.splunk-editors-ObjectEditor-row {
    margin-bottom: 10px;
}

.splunk-editors-ObjectEditor-row > .splunk-editors-ObjectEditor-key {
    margin-right: 10px;
}

.splunk-editors-ObjectEditor-row > .splunk-editors-EditorRemoveButton {
    margin-left: 5px;
    padding: 0;
    width: $buttonSquareSize;
    height: $buttonSquareSize;
    line-height: $buttonSquareSize;
    text-align: center;
    box-sizing: border-box;
}
