<%
import json
import cherrypy
import splunk.appserver.mrsparkle
from splunk.appserver.mrsparkle.lib.jsonresponse import JsonResponse
import splunk.util as su

output = ''
error = ''
try:
    output = json.dumps(list_data)
except TypeError as e:
    try: 
        cleaned = []
        for item in list_data:
            cleaned_item = {}
            for k,v in item.items():
                cleaned_item[k] = su.unicode(v)
            cleaned.append(cleaned_item)
        output = json.dumps(cleaned)
    except TypeError as e:
        resp = JsonResponse()
        resp.addError(e.args[0])
        output = resp.toJson()
cherrypy.response.headers['content-type'] = splunk.appserver.mrsparkle.MIME_JSON
%>\
${output}
