$rollupModalWidth: 800px;

.rollup-settings-modal {
    width: $rollupModalWidth;
    margin-left: calc($rollupModalWidth / 2 * -1);
    .form-horizontal {
        width: $rollupModalWidth;
        box-sizing: border-box;
    }
}

.shared-waitspinner {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: -3px;
}
