/*  Splunk: Component: time range picker btn */
/*  =================================== */

.shared-timerangepicker > .btn {
  max-width: 100%;
  box-sizing: border-box;
  display: inline-flex;

  /*  box-sizing: border-box; */
  > .time-label {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 1 auto;
  }

  > .caret {
      flex: 0 0 auto;
  }
}
