<%!
    title = 'Advanced search'
%>
<%namespace name="lib" file="//lib.html" import="*"/>
<%inherit file="//layout/admin.html" />
<%
import splunk
from splunk.appserver.mrsparkle.lib import util, i18n

isLite = util.isLite()
%>

<div class="dataInputsWrapper settingsIndex">
    <div class="settingsIndexDesc">${_('Create and edit search macros. Edit permissions on search commands.')}</div>

    <table class="splTable">
            <tr>
                <th>${''}</th>
                <th>${_('Actions')}</th>
            </tr>
            % if not isLite:
            <tr>
                <td class="input_name"><a href="${make_url(['manager', namespace, 'admin', 'macros'])}">${_('Search macros')}</a></td>
                <td class="actions"><a class="add-new" href="${make_url(['manager', namespace, 'admin', 'macros', '_new'], _qs=dict(action='edit'))}">${_('Add new')}</a></td>
            </tr>
            % endif
            <tr>
                <td class="input_name"><a href="${make_url(['manager', namespace, 'admin', 'commandsconf'])}">${_('Search commands')}</a></td>
                <td class="actions"></td>
            </tr>
    </table>
</div>
