.user-edit-form-wrapper {
    h2 {
        font-size: 12px;
        color: $successColor;
    }

    .control-label {
        padding-top: 5px;
        padding-right: 10px;
    }

    .exampleText {
        margin-top: 5px;
        padding-right: 4px;
    }
}

