.mismatch-msg {
    display: none;
    margin-top: -5px;
}

.password-req-section {
    margin-top: -25px;
	margin-left: 0px;
    font-size: 11px;
}

.password-req-section li {
	display: inline;
    padding-right: 5px;
}

.password-req-gray {
	color: $textDisabledColor;
}

.password-req-green {
	color: $successColor;
}

.password-req-red {
	color: $errorColor;
}

.password-req-black {
	color: $textColor;
}
