.schedule-sentence > .control-group > .controls {
    > .schedule_hourly, > .schedule_daily, > .schedule_weekly, > .schedule_monthly {
        margin: 0 $spacingHalf;
    }
    > .input-label {
        white-space: nowrap;
    }
}
