.detailed-info-toggle-container {
    margin: 10px 0px;
    white-space: pre-line;
    
    .detailed-info-toggle {
        color: $textColor;
        
        .detailed-info-heading {
            font-weight: $headingsFontWeight;
            margin-left: 5px;
        }
    }
    
    .detailed-info-toggle:hover {
        text-decoration: none;
    }
}