.shared-documentcontrols-details-actions {
    div.action-item{
        margin-left: 10px;
    }
    img {
        width: 18px;
        height: 18px;
        float: left;
        padding-right: 5px;
    }
    a.expand {
        padding-right: 2px;
    }
}
