/*  Splunk: Component: Visulization Picker */
/*  ====================================== */

$vizPickerDialogWidth: 400px;

.shared-vizcontrols-vizpicker .link-label {
    margin-left: 4px;
}

.shared-vizcontrols-vizpicker-dialog {
    background-color: $white;
    width: $vizPickerDialogWidth;
}
