.shared-reportcontrols-dialogs-summaryindexingdialog-addfieldssection {
	margin-left: 20px;

	.field-label {
		float: left;
		width: 140px;
		text-align: right;
	}
	.fields-section {
		margin-left: 160px;

		.shared-reportcontrols-dialogs-summaryindexingdialog-newfieldrow {
			padding-bottom: 10px;
			.icon-x-circle {
				line-height: 26px;
			    font-size: 16px;
	            color: #999;
	            cursor: pointer;
			}
		}
	}
}