<div class="section" id="buttons">
    <h1>Buttons</h1>
    <h2>Basic Buttons</h2>
    <div class="docs-example" id="button_basic"> </div>

    <h2>Button Sizes</h2>
    <div class="docs-example" id="button_size"> </div>

    <h2>Icon-Only Buttons</h2>
    <div class="docs-example" id="button_icon"> </div>

    <h2>Button Groups</h2>
    <div class="docs-example" id="button_group"></div>

    <h2>Menu Buttons</h2>
    <div class="docs-example" id="button_menu"></div>

    <h2>Draggable Buttons</h2>
    <div class="docs-example">

        <a class="btn btn-draggable">Draggable</a>
        <button class="btn btn-draggable">Draggable</button>
        <div class="btn-combo">
            <div class="btn btn-draggable">Combo</div>
            <div class="btn"><i class="icon-pencil"></i></div>
        </div>

    </div>
</div>
